.wrapper {
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   padding-bottom: 5px;
}

.regions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.concreteRegion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.image {

    width:  150px;
    height: 100px;

}

.button {
    border-top: 1px solid #96d1f8;
    background: white;
    padding: 5px 10px;
    margin-right: 8px;
    margin-top: 4px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: black;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;;
    min-width: 100px;
}




@media only screen and (min-width: 600px) {
    /* tablet */

    .regions {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .concreteRegion{
        padding: 20px;

    }

}

@media only screen and (min-width: 1025px) {
    /* Desktop */

    .image {
        width:  200px;
        height: 150px;
    }

}