.wrapper {
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   padding-bottom: 5px;
}

.regions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.concreteRegion {
    padding-bottom: 5px;
}

.image {
    margin: 0 auto;
    display: flex;
    max-width: 80%;
}

@media only screen and (min-width: 600px) {
    /* tablet */

    .regions {
        flex-direction: row;
    }

    .concreteRegion{
        padding: 20px;

    }
}