.wrapper {
    background-color: white;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;

}

.modalWrapper {
    margin: 5px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-self: center;
}

.button {
    align-self: center;
    margin-right: 40px;
    display: none;

}

.link {
    margin-left: 15px;
    text-align: center;
    color: black;
    text-decoration: underline;
}

.link:hover {
    color: black;
}

.ratingContainer {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.buttons {
    margin-top: 10px;
}


@media only screen and (min-width: 600px) {
    /* tablet */

}

@media only screen and (min-width: 1025px) {
    /* desktop */

}