.buchung {
    text-align: center;
}

.buchung label {
    width: 160px;
    max-width: 100%;

}

@media only screen and (min-width: 600px) {
    /* tablet */

    .buchung {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 1025px) {
    /* Desktop */

    .buchung {

    }
}

