.wrapper {
    background-image: linear-gradient(lightgray, lightblue);
    border: double;
    border-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

.buchung {
    margin-top: 20vh;
}

.buchung form {
    display: flex;
    flex-direction: column;
}

.buchung label {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-self: flex-end;
}

.buchung input {
    margin-left: 20px;
}

.buttons {
    align-self: flex-end;
}

.buttons input {
    margin-left: 10px;
    margin-top:5px
}

/* responsive Handy usw. */
@media (max-width: 400px) {
    .wrapper {
    }
}

/* responsive Tablet usw. */
@media (max-width: 1200px) {
    .wrapper {
    }
}

