.wrapper {
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 5px;
    overflow: scroll;
}

.image {

    width:  150px;
    height: 100px;

}

.input {
    width: 90%;
    margin-left: 5%;
}

@media only screen and (min-width: 600px) {
    /* tablet */

    .wrapper{
        flex-direction: row;
    }

    .leftSide{
        width: 25%;
        float: left;

    }

    .rightSide{
        width: 75%;
        float: left;

    }

}