* {
    box-sizing: border-box;
}

header{
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

body {

    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

Input {
    border-color: black;
}

/*footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}*/

.wrapper {
    /*background-color: #333;*/
    background-color: #cccccc;
    /*margin-bottom: 50px;*/
    /*border: 2px solid black;*/
    /*height: 200px;*/
    display: flex;
    flex-direction: column;

}

.topHeader{
    display: flex;
    flex-direction: row;
}

.buttons{
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    border-top: 1px solid #96d1f8;
    background: white;
    padding: 2px 4px;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: black;
    font-size: 12px;
    text-decoration: none;
    /*vertical-align: middle;*/
    /*float: right;*/
    justify-content: flex-end;
}

.button:hover {
    border-top-color: white;
    background: lightcyan;
    color: #ccc;
}

.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.logo {
    float: left;
    color: white;
    justify-content: flex-start;
}

/*p {
    float: left;
    color: white;
}*/

.userData {
    /*float: right;*/
    color: white;
    /*display: flex;*/
    flex-direction: row;
    justify-content: flex-end;
}

.tab{
    flex-direction: row;
}

.topnav {
    
}


@media only screen and (min-width: 600px) {
    /* tablet */
    .wrapper {

    }
}

@media only screen and (min-width: 1025px) {


   /* footer {
        position: fixed;
        padding: 10px;
        bottom: 0;
        left: 0;
        right: 0;
    }*/

    .wrapper {
        height: 15vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    /* desktop */
    .leftDash {
        width: 20%;
        float: left;
    }

    .rightDash {
        width: 80%;
        float: left;
        padding-top: 40px;
    }

    .buttons {
        padding-top: 10px;
    }

    .button {
        margin-right: 0;
    }

    



    .topHeader{
        display: flex;
        flex-direction: row;
    }

    .buttons{
        flex-direction: row;
        /*justify-content: flex-end;*/
    }

    .button {
        border-top: 1px solid #96d1f8;
        background: white;
        padding: 2px 4px;
        margin-right: 5px;
        margin-top: 2px;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
        text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
        color: black;
        font-size: 12px;
        text-decoration: none;
        /*vertical-align: middle;*/
        /*float: right;*/
        /*justify-content: flex-end;*/
    }

    .button:hover {
        border-top-color: white;
        background: lightcyan;
        color: #ccc;
    }

    .button:active {
        border-top-color: #1b435e;
        background: #1b435e;
    }

    .logo {
        float: left;
        color: white;
        /*justify-content: flex-start;*/
    }

    /*p {
        float: left;
        color: white;
    }*/

    .userData {
        float: right;
        color: white;
        /*display: flex;*/
        flex-direction: row;
        /*justify-content: flex-end;*/
    }

    .tab{
        flex-direction: row;
    }
}