/*footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}*/

.wrapper {
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons{
    flex-direction: row;
    justify-content: space-around;

}

.topRight {
    display: flex;
    flex-direction: column;

}

.userPoint {
    max-width: 100px;
    height: auto;
}

.logo {
    color: white;
    justify-content: flex-start;
    max-width: 80px;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;

}

.userData {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.tabs {
    flex-direction: row;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #636c72;
}

.tabLinks {
    color: black;
    margin-left: 20px;
}

.tabLinks:hover {
    color: black !important;
}

.topnav {
    
}


@media only screen and (min-width: 600px) {
    /* tablet */

}

@media only screen and (min-width: 1025px) {

    /*.wrapper {
        height: 10vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }*/

    /* desktop */
    .leftDash {
        width: 20%;
        float: left;
    }

    .rightDash {
        width: 80%;
        float: left;
        padding-top: 40px;
    }

    .buttons {
        padding-top: 10px;
    }

    .buttons{
        flex-direction: row;
        /*justify-content: flex-end;*/
    }

    .logo {
        max-width: 100px;
    }

    .userData {
        float: right;
        color: white;
        /*display: flex;*/
        flex-direction: row;
        /*justify-content: flex-end;*/
    }
}