/* for mobile   */

.wrapper {
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}

.rightBooking {
    width: 100%;
    /*border: 1px solid red;*/

}

.rightBooking label {
    width: 160px;
    max-width: 100%;
}

.leftBooking {
    width: 100%;
}

.input {
    min-width: 250px;
}

.image {
    margin: 0 auto;
    display: flex;
    max-width: 80%;
}

@media only screen and (min-width: 600px) {
    /* tablet */

    .booking {
        display: flex;
        flex-direction: row;

    }

    .rightBooking {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 1025px) {
    /* Desktop */

    .rightBooking {
        width: 50%;
        float: left;
    }

    .leftBooking {
        width: 50%;
        float: left;
    }

}

