.wrapper {
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
}

.FeWoDescr {
    margin-right: 5vw;
    margin-left: 5vw;
}

.bilder {
    margin: 0 auto;
    display: flex;
    max-width: 80%;
    height: auto;
}

.button {
    align-self: center;
}

.sliderContainer {
    width: 50vw;
    height: auto;
}

.heading {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    /* tablet */

    .FeWoDescr {
        border-top: 1px solid #cccccc;
        padding-top: 5px;
        margin-right: 10vw;
        margin-left: 10vw;
    }

    .button {
        align-self: flex-end;
        vertical-align: bottom;
    }

    .bilder {
        max-width: 60%;
    }

}


@media only screen and (min-width: 1025px) {
    /* Desktop */
    .bilder {
        max-width: 50%;
    }

    .sliderContainer {
        width: 40vw;
        height: auto;
    }
}