.leftStart {
    padding: 15px;
}

.rightStart {

}

.image {
    margin: 0 auto;
    display: flex;
    max-width: 80%;
}

h2 {
    text-underline: single;
}


@media only screen and (min-width: 600px) {
    /* tablet */
    .wrapper {
        width: 100vw;
        height: 83vh;
    }

    p, h2 {
        margin-right: 0 !important;
        width: 70%;
        float: left;
    }

}

@media only screen and (min-width: 1025px) {
    /* Desktop */

    .leftStart {
        width: 30%;
        float: left;
    }

    .rightStart {
        width: 70%;
        float: left;
    }

}

