.wrapper {
    flex-direction: column;
}

.leftStart {
    padding: 15px;

}

.rightStart {

    overflow: scroll;
}

.image {

    height: 200px;

}

h2 {
    text-underline: single;
}


@media only screen and (min-width: 600px) {
    /* tablet */
    .wrapper {
        flex-direction: row;
        width: 100vw;
        height: 83vh;
    }

    .image {
        height: auto;
        width: 150px;
    }

    p, h2 {
        margin-right: 0 !important;
        width: 70%;
        float: left;
    }

}

@media only screen and (min-width: 1025px) {
    /* Desktop */

    .image {
        height: auto;
        width: 300px;
    }

    .leftStart {
        width: 40%;
        float: left;
    }

    .rightStart {
        width: 80%;
        float: left;
    }

}

