* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

.wrapper {
    background-color: cadetblue;
    width: 100%;
    padding: 15px;
}

.wrapper:after {
    content: "";
    clear: both;
    display: table;
    padding: 15px;
}

.leftStart {
    padding: 15px;
}

.rightStart {

}

h2 {
    text-underline: single;
}


@media only screen and (min-width: 600px) {
    /* tablet */
    .wrapper {
        width: 100vw;
        height: 83vh;
    }

    p, h2 {
        margin-right: 0 !important;
        width: 70%;
        float: left;
    }

}

@media only screen and (min-width: 1025px) {
    /* Desktop */
    .wrapper {
        height: 83vh;
        padding-top: 10px;
        padding-right: 60px;
        padding-left: 60px;
    }

    .leftStart {
        width: 30%;
        float: left;
    }

    .rightStart {
        width: 70%;
        float: left;
    }

}

