.wrapper {

    flex-flow: wrap;
    justify-content: center;
}


.login{
    text-align: center;
}

.login label > span {
    width: 160px;
    display: inline-block;
    max-width: 100%;
}


/*
TODO funktioniert nicht
.validation-error text{*/
    /*color: red;
}*/


@media only screen and (min-width: 600px) {
    /* tablet */

    .login {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 1025px) {
  /*   Desktop */

    .login {
        padding-top: 150px;
    }
}

