.wrapper {
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

.login label {
    width: 160px;
    max-width: 100%;
}

@media only screen and (min-width: 600px) {
    /* tablet */

    .login {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 1025px) {
  /*   Desktop */

    .login {
        padding-top: 150px;
    }
}

