

.wrapper {
    background-image: linear-gradient(lightgray, lightblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75vh;
}

.leftDash {
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    margin-top: 100px;
}

.rightDash {
    display: flex;
    margin-right: 280px;
    margin-top: 100px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons input {

}

.pictureName {
    display: flex;
    justify-content: space-between;
}

.userTable {
    border: double red;
}


/* responsive Handy usw. */
@media only screen and (max-device-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-content: space-between;
        background-color: lightcyan;
    }

    .leftDash {
        width: 100%;
    }

    .rightDash {
        width: 100%;
    }

    .pictureName {

    }
}

/* responsive Tablet usw. */
@media only screen and (min-width: 768px) and (max-width: 1250px) {
    .wrapper {
        background-color: lightskyblue;
    }

    .leftDash {
        width: 50%;
        margin-right: 10%;
        margin-top: 10%;
    }

    .rightDash {
        width: 50%;
        margin-right: 10%;
        margin-top: 10%;
    }

    .pictureName {
        justify-content: flex-start;
    }
}