/* for mobile   */
.wrapper {
    flex-flow: wrap;
}

.leftDash {
    width: 100%;
}

.rightDash {
    width: 100%;
}

.buttons {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.userStats label {
    min-width: 140px;
}

.test1 {
    border: none;
    background: inherit;
    color: black;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #aabcfe;
    margin: 0 auto;
}

.save {
    display: none;
    color: red;
    font-size: small;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    color: black;
    background: white;
    border: 1px solid #aabcfe;
    border-right-width: 0;
    border-left-width: 0;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    color: #039;
    background-color: lightgray;
    border: 1px solid #aabcfe;
    border-right-width: 0;
    border-left-width: 0;
}

.tg .tgyw4l {
    vertical-align: top;
}

.tg {
    width: 100%;
}

.tg col {
    width: auto !important;
}

.tgwrap {
    overflow-x: auto;
    margin: auto 0;
}

.modal {
    text-align: center;
    display: flex;
    flex-flow: wrap;
    padding: 5px;
    background-color: cadetblue;
}

.modal label {
    min-width: 130px;
}

.buchung {
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
}

.buchung label {
    width: 160px;
    max-width: 100%;
}

.buttonSave {
    display: none;
}

.input {
    min-width: 250px;
    border: 1px solid;
}

@media only screen and (min-width: 600px) {
    /* tablet */

    .tg {
        margin-right: 0 !important;
        width: 70%;
        float: left;
    }

}

@media only screen and (min-width: 1025px) {
    /* desktop */

    .leftDash {
        width: 30%;
        float: left;
    }

    .rightDash {
        width: 70%;
        float: left;
        padding-top: 40px;
    }

    .tg {
        float: right;
    }

    .invis {
        display: none;
    }

    th, td {
        padding: 20px;
    }

    .buttons {
        padding-top: 10px;
    }

    tr:hover {
        background-color: lightgray
    }
}
